html,body{
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
/*    height: 370px; */
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    color: white;
    background-color: rgba(0,0,0,0.7) !important;
}

tfoot{
    font-weight: bold;
    background-color: #808080;
}