{% extends "cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row">

        <div class="col-sm-6">

            <p class="text-justify">
            Sistema de gestão dos cursos da Oficina Escola Artes
            </p>
        </div>

        <div class="col-sm-6">
            <h2>Relatórios:</h2>
            <ul>
                <li><a href="{% url 'adm:totalPorOutrosCursos' %}">Total por outros cursos</a></li>
                <li><a href="{% url 'adm:totalCandidatosPorCursos' %}">Total de candidatos por cursos</a></li>
                <li><a href="{% url 'adm:totalEnturmadosPorCursos' %}">Total de alunos enturmados por cursos</a></li>
                <li><a href="{% url 'adm:candidatosNaoEnturmados' %}">Relação de candidatos não enturmados</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}