{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <H3>Cadastro Ok</H3>

    <br>

    <H5>O cadastro foi realizado com sucesso e um dos nossos servidores entrará em breve em contato para validar todas as informações e solicitar a entrega da cópia física dos documentos.</H5>

    <br>

    <H5>Observação, para as aulas online é necessário que o aluno esteja utilizando equipamento com câmera e microfone disponível.</H5>

    <br>

    <H6>Para maiores informações:</H6>

    <br>

    <H6>Siga-nos no Facebook e Instagram @CulturaNF</H6>
    <br>
    <H6>Oficina Escola de Artes - (22) 2533-1144</H6>
    <H6>Ponto de Cultura de Olaria - (22) 2521-5304<H6>
    <H6>Secretaria Municipal de Cultura - (22) 2521-1558</H6>

</div>

{% endblock %}